numpy==1.26.4
yfinance==0.2.41
pandas==2.2.2
requests==2.32.3
PyYAML==6.0.1
tradingview-ta==3.3.0
aiohttp==3.10.5
asyncpraw==7.7.1
ccxt==4.3.74
transformers==4.44.2
matplotlib==3.9.2
scipy==1.13.1 # Not upgrading to 1.14.0
brotli==1.1.0
py-cord==2.6.0
python-dotenv==1.0.1
tls-client==1.0.1
uncurl==0.0.11
nltk==3.9.1
timm==1.0.9
seaborn==0.13.2
plotly==5.24.0
kaleido==0.2.1