yahoo-fin==0.8.9.1
numpy==1.25.1
yfinance==0.2.22
pycoingecko==3.1.0
pandas==2.0.3
requests==2.31.0
discord==2.3.1
PyYAML==6.0
tradingview-ta==3.3.0
aiohttp>=3.8.0
asyncpraw==7.7.1
ccxt==4.0.31
nltk==3.8.1
transformers==4.30.2
matplotlib==3.7.2
scipy==1.11.1
brotli==1.0.9
py-cord==2.4.1
