yahoo-fin==0.8.9.1
numpy==1.22.3
yfinance==0.1.70
py-cord==1.7.3
tweepy==4.8.0
pycoingecko==2.2.0
pandas==1.4.1
requests==2.27.1
discord==1.7.3
PyYAML==6.0
websocket-client==1.3.2
tradingview-ta==3.2.10
aiohttp>=3.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
asyncpraw==7.5.0
